html {
    box-sizing: border-box;
}

*,*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
#hero {
    background-image: url("../img/hero-img.png");
    background-repeat: no-repeat;
    background-size: 1300px 1000px;
    background-position: center center;
    height: 800px;
    position: relative;
}
.site-header {
    padding-top: 37px;
    padding-bottom: 36px;
}

.list-item {
    margin-right: 40px;
}

.list-link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #2C2C2C;
    transition: color 0.2s ease;
}

.list-link:hover {
    color: #FF5B65;
}

.icon-item {
    margin-left: 20px;
}

.icon-user {
    margin-right: 10px;
}
.logo {
    position: relative;
    right: 26px;
}

.icon-list {
    position: relative;
    left: 24px;
}
.icon-link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #2C2C2C;
    transition: color 0.2s ease;
}
.icon-search::before {
    content: "";
    height: 20px;
    display: inline-block;
    border-left: 2px solid #F1E0DD;
    margin-right: 10px;
}
.icon-link:hover {
    color: #FF5B65;
}
.hero-content {
    margin-top: 250px;
    margin-left: 20px;
}
.title-hero {
    /* width: 804px; */
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 112px;
    color: #2C2C2C;
    margin-left: 67px;
}

.hero-btn {
    padding: 14px 25px;
    background-color: #FF715B;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-left: 67px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #FF715B;
    transition: background 0.2s ease, color 0.2s ease;
}

.hero-btn:hover {
    background-color: transparent;
    color: #FF715B;
 }

 .righ-left {
     position: relative;
     top: 274px;
     left: -84px;
 }
 .left-arrow {
     margin-right: 22px;
 }
 .right-arrow {
     position: relative;
     top: 12px;
 }
 .rl-list::after {
    content: "";
    width: 234px;
    height: 2px;
    display: inline-block;
    background-color: #F5EBE9;
    margin-top: 20px;
    margin-left: 30px;
 }
.icon-rl {
    font-size: 40px;
    color: #FF715B;
    cursor: pointer;
}
.sp-number {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #FF715B;
    margin-left: 30px;
    margin-top: 18px;
}

.form-group {
    display: flex;
    width: 800px;
    padding-top: 40px;
    padding-bottom: 45px;
    padding-left: 55px;
    padding-right: 45px;
    position: relative;
    left: 471px;
    top: 100px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px 5px rgba(219, 200, 197, 0.2);
    overflow: hidden;
}
.header-form {
    display: flex;
    align-items: center;
    right: 0;
  }
  
  .form-label {
    font-family: 'Product Sans';
    font-size: 16px;
    line-height: 19px;
    color: #A79997;
    margin-bottom: 10px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }
  
  .form-input {
    width: 150px;
    border: 0;
    border-bottom:  1px solid #F5EBE9;
    margin-right: 60px;
    padding: 10px;
    font-family: Noto Serif;
    font-weight: 600;
    line-height: 25px;
    color: #FF715B;
  }
  
  .form-input::placeholder {
    color: #F0CBD2;
    font-size: 18px;
  }
  
  .form-input:focus {
    color: #FF715B;
  }
  
  .form-btn {
    padding: 15px 35px;
    background-color: #FF5B65;
    position: relative;
    right: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #FF5B65;
    transition: background 0.3s ease, color 0.3s ease;
    color: #FFFFFF;
  }
  .form-btn:hover {
      background-color: transparent;
      color: #FF5B65;
  }
  .arrow-down,
  .calendar,
  .dollar {
    position: relative;
  }
  
  .arrow-down::after {
    content: '';
    position: absolute;
    right: 70px;
    bottom: -35px;
    width: 14px;
    height: 9px;
    background-image: url('../media/img/hero/down_arrow.svg');
    background-repeat: no-repeat;
  }
  
  .calendar::after {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    right: 70px;
    bottom: -35px;
    background-image: url('../media/img/hero/calender.svg');
    background-repeat: no-repeat;
}
.gr-form {
    position: relative;
    left: 45px;
}

#servic {
    margin-top: 210px;
}
.servic-list {
    display: flex;
    justify-content: space-between;
}
.servic-group {
    position: relative;
    right: 39px;
}
.servic-item {
    width: 300px;
    margin-left: 30px;
    background: #F8F8F8;
    position: relative;
    padding: 0px 30px;
    padding-bottom: 5px;
    transition: all 0.4s ease;
}
.servic-item:hover {
    background: #FFFFFF;
    box-shadow: 0px 10px 30px 5px rgba(219, 200, 197, 0.2);
}
.servic-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: #2C2C2C;
    margin-top: 168px;
}
.servic-title::before {
    content: "";
    width: 120px;
    height: 120px;
    display: block;
    background-image: url("../img/one.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    bottom: 175px;
    left: 75px;
}

.two::before {
    width: 90px;
    height: 90px;
    background-image: url("../img/two.svg");
    left: 93px;
    bottom: 186px;
}

.three::before {
    width: 90px;
    height: 90px;
    background-image: url("../img/three.svg");
    left: 93px;
    bottom: 186px;
}
.four::before {
    width: 90px;
    height: 90px;
    background-image: url("../img/four.svg");
    left: 93px;
    bottom: 186px;
}
.servic-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #A79997;
}

#travel{
    margin-top: 207px;
    padding-bottom: 100px;
    background-image: url("../img/Bg.svg");
    background-repeat: no-repeat;
    background-size: 600px 580px;
    background-position: right -130px top -90px;
}

.travel-title {
    width: 419px;
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 65px;
    color: #2C2C2C;
    position: relative;
    top: 10px;
}

.title-orange {
    color: #FF715B;
}

.travel-text {
    width: 420px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: #A79997;
}

.travel-btn {
    padding: 15px 25px;
    background-color: #FF715B;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 33px;
    border: 1px solid #FF715B;
    transition: background 0.3s ease, color 0.3s ease;
}

.travel-btn:hover {
    background-color: #fff;
    color: #FF715B;
}

.travel-group {
    display: flex;
    justify-content: space-around;
}

.travel-item {
    position: relative;
    left: 30px;
}
.cuba {
    position: relative;
    right: 5px;
}

.japan {
    position: relative;
    top: 47px;
}

.country {
    position: absolute;
    top: 299px;
    right: 107px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 38px;
    color:#fff;
}
#best {
    margin-top: 100px;
}
.best-group {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    position: relative;
}
.bst-img {
    position: relative;
    right: 15px;
    z-index: 5;
}
.best-title {
    width: 690px;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 65px;
    color: #2C2C2C;
}
.best-content {
    transform: translateY(50px);
}
.best-item {
    cursor: pointer;
}
.best-title-text {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #000000;
}

.best-text {
    width: 600px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #A79997;
}

.item-after::after {
    content: "";
    width: 600px;
    height: 1px;
    background: #F1E0DD;
    display: block;
}
.best-item {
    position: relative;
}
.best-item::before {
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    right: 102%;
}
.item-before-one::before {
    width: 40px;
    height: 40px;
    background-image: url("../img/global.svg");
    right: 103%;
}
.item-before-two::before {
    width: 40px;
    height: 40px;
    background-image: url("../img/music.svg");
    right: 103%;
}
#choose {
    margin-top: 300px;
    position: relative;
}
.chs-title {
    position: relative;
}
.choose-title::after {
    content: "";
    display: inline-block;
    width: 500px;
    height: 500px;
    background-image: url("../img/round.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right; 
    position: absolute;
    top: -274px;
    right: -48px;
}
.choose-content {
    display: flex;
}
.choose-title {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    color: #2C2C2C;
}
.choose-country {
    margin-top: 300px;
    margin-right: 20px;
}
.choose-img {
    position: relative;
    z-index: 0;
    width: 400px;
    height: 515px;
}
.choose-money-group {
    width: 360px;
    height: 105px;
    position: relative;
    left: 40px;
    bottom: 91px;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0px 10px 25px rgba(215, 190, 190, 0.2);

}
.choose-info {
    display: flex;
}
.money-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;        
    line-height: 33px;
    color: #000000;
    margin-left: 34px;
}

.money {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FF715B;
    position: relative;
    left: 29px;
    bottom: 5px;
}
.star-list {
    position: relative;
    left: 24px;
}
.star-item {
    margin-right: 2px;
}

.star-icon {
    font-size: 15px;
    color: #FFC01E;
}
.reviews {
    position: relative;
    left: 33px;
}

.plus {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: #FF715B;
    margin-left: 10px;
    padding-left: 18px;
    padding-top: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    position: relative;
    bottom: 31px;
    left: 38px;
    transition: background 0.3s ease;
}

.plus:hover {
    background-color: #dd2c11;
}

.top {
    transform: translateY(-180px);
}

.top::before {
    content: "";
    width: 169px;
    height: 169px;
    display: inline-block;
    background-image: url("../img/left-triangle.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    left: -199px;
    top: 17px;
}
.topp::after {
    content: "";
    width: 148px;
    height: 169px;
    display: inline-block;
    background-image: url("../img/right-triangle.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    right: -167px;
    top: 20px;
}
.btn-choose {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.view {
    padding: 15px 35px;
    background-color: #FF715B;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-top: 14px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #FF715B;
    transition: background 0.3s ease, color 0.3s ease;
}

.view:hover {
    background-color: transparent;
    color: #FF715B;
}
#about {
    position: relative;
    padding-bottom: 200px;
}
.about-title {
    width: 710px;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    color: #2C2C2C;
    margin-left: 260px;
    position: relative;
}

.about-title::before {
    content: "";
    width: 400px;
    height: 400px;
    display: inline-block;
    background-image: url("../img/round-one.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    left: -326px;
    top: -95px;
}
.ab {
    position: relative;
}
.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    position: absolute;
    right: 278px;
    bottom: -681px;
}
.ux {
    width: 550px;
    height: 550px;
    background: #FFFFFF;
    box-shadow: 0px 20px 30px rgba(227, 202, 202, 0.3);
    border-top: 8px solid  #FF715B; 
    border-radius: 3px;
    position: relative;
}

.ux::before {
    content: "";
    width: 242px;
    height: 242px;
    display: block;
    background-image: url("../img/round-two.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 77%;
    right: -96px;
    z-index: -1;
}
.designer {
    justify-content: center;
    margin-top: 70px;
}
.designer-text {
    margin-left: 15px;
    margin-top: 10px;
}
.ux-text {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 33px;
    color: #000000;
    margin: 0;
}
.design-text-gray {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    color: #A79997;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
.ux-text-red {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FF715B;
    position: relative;
    bottom: 15px;
}
.slayder {
    margin-top: 68px;
    display: inline-block;
    margin-left: 220px;
}

.about-list {
    display: flex;
}
.about-list-two {
    display: flex;
}
.item-about-one {
    position: absolute;
    bottom: 127px;
}

.item-about-two {
    position: absolute;
    top: 10px;
    right: -260px;
}

.item-about-three {
    position: absolute;
    bottom: -67px;
    right: -263px;
}

.about-item-one {
    position: absolute;
    bottom: 0px;
    left: -209px;
}

.about-item-two {
    position: absolute;
    left: -32px;
}

.about-item-three {
    position: absolute;
    left: -213px;
    top: 158px;
}

.about-item-four {
    position: relative;
    top: -154px;
    left: -102px;
}

#community {
    margin-top: 780px;
    padding-bottom: 100px;
}
.comm-group {
    width: 1220px;
    height: 470px;
    background: linear-gradient(90deg, #A6F2F2 0%, #DDF181 100%);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.comm-content {
    position: absolute;
    left: 43px;
}
.com-title {
    width: 619px;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 65px;
    color: #2C2C2C;
}
.com-list {
    position: relative;
    right: 63px;
}

.com-item {
    margin-left: 25px;
}

.comm-img {
    position: absolute;
    top: 57px;
    right: 27px;
}
footer {
    margin-top: 100px;
    overflow: hidden;
}
.ft-text {
    width: 450px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #A79997;
}
.ft-item {
    margin-top: 15px;
}
.ft-item::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url("../img/call-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    right: 44px;
}

.ft-two::before {
    width: 15px;
    height: 15px;
    background-image: url("../img/sms-icon.svg");
    position: relative;
}
.ft-list-one {
    margin-top: 20px;
}
.ft-three::before {
    width: 15px;
    height: 15px;
    background-image: url("../img/notin.svg");
}
.ft-link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #A79997;
    position: relative;
    right: 20px;
    transition: color 0.3s ease;
}

.fot-group {
    display: flex;
    justify-content: space-between;
}

.ft-item-bf {
    margin-top: 15px;
}
.ft-item-bf::before {
    content: "";
    width: 10px;
    height: 2px;
    display: inline-block;
    background-color: #C4C4C4;
    border-radius: 5px;
    margin-right: 30px;
    margin-bottom: 5px;
}
.itemm-one {
    position: relative;
    left: 10px;
}
.ft-list {
    position: relative;
    bottom: 20px;
}
.ft-list-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    color: #000000;
    position: relative;
    bottom: 27px;
    left: 33px;
}
.ft-link:hover {
    color: #FF715B;
}

.inp {
    background-color: #F8F8F8;
    padding: 10px 15px;
    font-size: 15px;
    position: relative;
    left: 27px;
}

.ft-btn {
    padding: 15px 20px;
    background-color: #FF715B;
    position: relative;
    top: 50px;
    left: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #FF715B;
    transition: background 0.3s ease, color 0.3s ease;
}

.ft-btn:hover {
    background-color: transparent;
    color: #FF715B;
}

.fot-bottom::before {
    content: "";
    width: 1287px;
    height: 2px;
    display: block;
    background: #F5EBE9;
}

.bot-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #A79997;
}
.cl {
    color: #FF715B;
}